td{
	width:25px;
	height:25px;
	border-style:solid;
	border-width:1px;
	user-select: none;
	-webkit-user-select: none;
	text-align:center;
	cursor:default;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

table {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.button-container {
	position: relative;
	text-align: center;
	padding: 10px;
}
.flagged-container {
	position: relative;
	text-align: right;
	padding: 5px;
}
#flagged {
	margin-right: 20px;
}
.game-button {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
